/*=========================CONTENT=========================*/
.title {
	font-size: 90px;
	text-align: center;
	color: rgb(255, 160, 190,);
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	font-family: 'Poppins', sans-serif;
}
.string {
	font-size: 25px;
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weigh: 256;
}
#home {
	background: rgba(200, 200, 200, 0.5);
	height: 100%;
	width: 90%;
	margin: 10px;
	border: 2px solid rgba(255, 255, 255, 0.3);	
	border-radius: 25px;
	backdrop-filter: blur(50px);
	box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 10px 25px;
	backface-visibility: hidden;
}

/*========================BACKGROUND=======================*/
body::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2048px;
    height: 2048px;
    background-image: url('dark_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    animation: spinBG 90s linear infinite;
    z-index: -1;
}
@keyframes spinBG {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to   { transform: translate(-50%, -50%) rotate(360deg); }
}
/*=========================================================*/





